name: Run Go Tests

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/**'
      - 'tests/**'
      
  pull_request:
    branches: [ "main" ]
    paths:
      - 'src/**'
      - 'tests/**'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Build
        run: go build -v ./src/...

      - name: Test
        run: go test -v ./tests
